@font-face {
  font-family: "Camber";
  src: url("/assets/fonts/camber/Camber-Rg.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Camber";
  src: url("/assets/fonts/camber/Camber-Md.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Camber";
  src: url("/assets/fonts/camber/Camber-Bd.ttf");
  font-weight: 900;
  font-style: normal;
}

/*========== MOBILE FIRST ========== */

/* SMALL DEVICES - SMARTPHONES */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Camber", sans-serif;
}

*:focus {
  outline: 0;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  background: #fff;
  width: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 5% 0;
  padding-right: 5%;
}

header img.logo-mobile {
  display: block;
  width: 10%;
  height: 10%;
}

header img.logo-desktop {
  display: none;
}

header aside.social {
  position: static;
  display: flex;
}

header aside.social a {
  font-size: 2rem;
  padding-right: 10%;
  color: #333;
}

header aside.social a:hover {
  color: #a6e1bc;
}

div.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.wrapper section {
  width: 100%;
  align-items: center;
  text-align: center;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
}

div.wrapper section h1 {
  font-size: 2rem;
  color: #333;
  font-weight: 900;
}

div.wrapper section h2 {
  padding-top: 5%;
  font-weight: normal;
  color: gray;
  font-size: 1.5rem;
}

div.wrapper section ul {
  padding-top: 5%;
  padding-left: 5%;
  font-size: 1rem;
}

div.wrapper section ul li {
  color: gray;
  padding-top: 5%;
}

div.wrapper section img {
  display: none;
}

div.wrapper section.form {
  width: 100%;
  height: 100%;
  margin-top: 10%;
  padding-bottom: 10%;
  background: #fc3a41;
}

div.wrapper section.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.wrapper section.form form span {
  color: #fff;
  font-size: 1.2rem;
}

div.wrapper section.form form input,
select {
  background: transparent;
  padding: 20px 20px 10px;
  color: #fff;
  font-size: 1rem;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 0.1px solid #fff;
}

div.wrapper section.form form select option {
  font-size: 1rem;
  color: #333;
}

div.wrapper section.form form select input:focus {
  outline: none;
}

div.wrapper section.form form input::placeholder {
  color: #fff;
}

div.wrapper section.form form div#phone {
  width: 100%;
  display: flex;
}

div.wrapper section.form form div#termos {
  margin-top: 5%;
}

div.wrapper section.form form div#termos {
  align-items: center;
  justify-content: start;
  display: flex;
  color: #fff;
  font-size: 1rem;
}

div.wrapper section.form form div#termos input {
  width: 20px !important;
}

div.wrapper section.form form button {
  width: 100%;
  margin-top: 5%;
  height: 40px;
  border: 0;
  border-radius: 20px;
  color: #fff;
  background: #6fc47e;
  cursor: pointer;
}

footer {
  width: 100%;
  padding-top: 10%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background: #a6e1bc;
  padding-bottom: 10%;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

footer > img {
  width: 60%;
}
footer div.adress {
  padding: 5%;
  display: flex;
  flex-direction: column;
}

footer div.adress div.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer div.adress div.menu a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

footer div.adress div.menu a:hover {
  color: gray;
}

footer div.adress p {
  padding-top: 5%;
}

footer aside.social-footer {
  align-items: center;
  justify-content: center;
  width: 100%;
  display: block;
}

footer aside.social-footer a {
  color: #fff;
  padding-right: 5%;
  font-size: 2rem;
  text-decoration: none;
}

footer aside.social-footer a:hover {
  color: gray;
}

/* SMALL DEVICES - TABLETS */

@media screen and (min-width: 768px) {
  body {
    background: #fff url(/assets/images/content-right-bg.png) top right fixed
      no-repeat;
    background-size: 60% 100%;
  }

  header img.logo-mobile {
    display: none;
  }

  header img.logo-desktop {
    display: flex;
    max-width: 90%;
    max-height: auto;
  }

  header aside.social a {
    font-size: 1.2rem;
    padding-right: 0;
    margin-right: 10%;
    color: #fff;
  }

  div.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  div.wrapper section {
    width: 40%;
    height: auto;
    align-items: center;
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    text-align: start;
    flex-direction: column;
  }

  div.wrapper section h1 {
    font-size: 1.5rem;
    color: #333;
    font-weight: 900;
  }

  div.wrapper section img {
    position: static;
    padding-top: 10%;
    margin-left: 90%;
    display: flex;
    width: 50%;
  }

  div.wrapper section.form {
    width: 55%;
    height: 100%;
    padding-left: 10%;
    margin-top: 0;
    padding-bottom: 5%;
    background: transparent;
  }

  footer {
    width: 100%;
    height: auto;
    padding-top: 0%;
    padding-left: 5%;
    padding-right: 5%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    background: #a6e1bc;
    align-items: flex-start;
    justify-content: none;
    color: #fff;
    font-size: 13px;
    padding-bottom: 0;
  }

  footer > img {
    padding-top: 5%;
    width: 50%;
  }
  footer div.adress {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  footer div.adress div.menu {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding-right: 0;
  }

  footer div.adress div.menu a {
    padding-right: 2%;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
  }

  footer aside.social-footer {
    padding-top: 5%;
    align-items: center;
    justify-content: center;
    width: 25%;
    display: block;
  }

  footer aside.social-footer a {
    font-size: 1rem;
  }
}

/* LARGE DEVICES - TABLETS & DESKTOPS */

@media screen and (min-width: 960px) {
  header aside.social a {
    font-size: 1.5rem;
    margin-right: 15%;
    padding-right: 0;
    color: #fff;
  }

  footer {
    font-size: 1rem;
  }

  footer div.adress div.menu a {
    font-size: 1rem;
  }

  footer aside.social-footer a {
    font-size: 1.5rem;
  }
}
